# Email (ex. Gmail) - pour Gmail créer un "mot de passe d'application"
MAIL_USER=marthedufour23@gmail.com
MAIL_PASS=votre_mot_de_passe_application
MAIL_TO=marthedufour23@gmail.com

# Optionnel
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_FROM=marthedufour23@gmail.com
# PORT=3001
